<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GroupBy" value="Directory"/>
    <add key="ShowModified" value="False"/>
    <add key="ShowFileName" value="True"/>
    <add key="ShowPath" value="False"/>
    <add key="ShowAlbum" value="True"/>
    <add key="ShowAlbumArtist" value="False"/>
    <add key="ShowArtist" value="True"/>
    <add key="ShowComment" value="False"/>
    <add key="ShowComposer" value="False"/>
    <add key="ShowCoverArt" value="True"/>
    <add key="ShowDay" value="False"/>
    <add key="ShowGenre" value="True"/>
    <add key="ShowMonth" value="False"/>
    <add key="ShowTitle" value="True"/>
    <add key="ShowTrackNumber" value="False"/>
    <add key="ShowTrackCount" value="False"/>
    <add key="ShowYear" value="True"/>
    <add key="ShowAlbumGain" value="False"/>
    <add key="ShowAlbumPeak" value="False"/>
    <add key="ShowTrackGain" value="False"/>
    <add key="ShowTrackPeak" value="False"/>
    <add key="ShowBitRate" value="False"/>
    <add key="ShowBitsPerSample" value="False"/>
    <add key="ShowChannels" value="False"/>
    <add key="ShowFormat" value="True"/>
    <add key="ShowFrameCount" value="False"/>
    <add key="ShowPlayLength" value="True"/>
    <add key="ShowSampleRate" value="False"/>
  </appSettings>
</configuration>